.header1 {
  width: 100%;
  background: #ffffffc7;
  position: fixed;
  z-index: 90;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 17px;
  margin-left: 50px;
  margin-bottom: 17px;

  &__logo {
    margin-left: 180px;

    & img {
      width: 130px;
      height: 80px;
    }
  }

  &__navbar {
    margin-left: 150px;
    &_a {
      text-decoration: none;
      color: #014782;
      margin: 0 12px;
      font-size: 18px;
      font-weight: 400;
      background-color: #01478200;
      position: relative;

      &:before {
        position: absolute;
        content: '';
        width: 100%;
        bottom: -3px;
        height: 2px;
        background: #014782;
        transition: 0.3s;
        transform: scale(0);
      }

      &:hover {
        color: #014782;
      }

      &:hover:before {
        transform: scale(1);
      }
    }
  }
}

//burger
.bm-overlay{
  top: 0 !important;
  left: 0 !important;
}
.bm-burger-bars{
  top: -50px !important;
}
.bm-cross-button{
  width: 40px !important;
  height: 3px !important;
  background: transparent !important;
  z-index: 5 !important;
  left: 250px !important;
  top: 30px !important;
  position: relative !important;
  &:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background: royalblue;
    left: 0;
    transform: rotate(45deg);

  }
  &:after{
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background: royalblue;
    left: 0;
    transform: rotate(-45deg);

  }
}
#react-burger-menu-btn{
  display: none !important;
  width: 40px !important;
  height: 3px !important;
  background: royalblue !important;
  z-index: 5 !important;
  left: 50px !important;
  position: relative !important;
  &:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background: royalblue;
    top: 10px;
    left: 0;
  }
  &:after{
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background: royalblue;
    top: -10px;
    left: 0;
  }
}

.bm-item-list{
  padding:40px 20px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.burger{
  top: 30px !important;
  box-shadow: -5px -3px 30px #0080ff;
}




//burger


//Footer
.footer {
  width: 100%;
  background: #000;
}

.footer__logo {
  padding-top: 66px;
  display: flex;
  flex-direction: column;

  &_a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 12px;
    font-size: 18px;
    font-weight: 400;
    background-color: #01478200;
    position: relative;

    &:hover {
      color: #ffffff;
    }


  }

  & img {
    width: 250px;
    height: 150px;
  }
}

.footer_adress {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;


  & span {
    color: white;
    line-height: 2;
    margin: 10px 0;
    font-size: 22px;
    border-bottom: 1px solid white;
  }

  & h1 {
    color: white;
    line-height: 2;
    margin: 10px 0;
    font-size: 15px;
    font-weight: 200;
  }
}

.footer_line {
  display: flex;
  justify-content: center;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    margin-top: -5px;
    background: #868282;
  }

  & h1 {
    font-size: 15px;
    color: #868282;
    font-weight: 200;

  }
}


//Footer
.footer__logo__block {
position: fixed;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  right: 40px;
  bottom: 40px;
  z-index: 100;

  & a {
    width: 30px;
    height: 30px;
    margin: 15px 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    & img {
      width: 100%;
      height: 100%;
      z-index: 2;
    }
    &:before {
      content: '';
      position: absolute;
      width: 150%;
      z-index: 1;
      border-radius: 50%;
      height: 150%;
      animation: blockLink 2s infinite;
      background: radial-gradient(50% 50% at 50% 50%, rgba(171, 171, 171, 0.71) 0%, rgba(52, 52, 52, 0) 100%);
      @keyframes blockLink {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.3);
          background: radial-gradient(50% 50% at 50% 50%, rgba(171, 171, 171, 0.8) 0%, rgba(52, 52, 52, 0) 100%);
        }
        100%{
          transform: scale(1);

        }
      }
    }
  }
}




.select{
  position: fixed;
  padding: 35px 10px;
  &_block {
    position: relative;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
    z-index: 1;
    border: 1px solid white;
    &:before {
      position: absolute;
      content: '';
      width: 30%;
      height: 400%;
      background: linear-gradient(#00b2ff, #8c00ff);
      animation:select 2s infinite;
      @keyframes select {
        0%{
          transform: rotate(360deg);
        }
      }
  }
  }
}
select {
  position: relative;
  padding: 10px;
  font-size: 22px;
  font-weight: 400;
  border: none;
  border-radius: 6px;
}
