.students{
  padding-top: 130px;
  & h1 {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    margin: 20px 0;
  }
  & p {
    font-size: 18px;
    font-weight: 250;
    margin: 30px 0;
  }
  &__img {
    margin-top: 10px;
    width: 95%;
    height: 450px;
    overflow: hidden;
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &_ul{
    padding-top: 35px;
    font-size: 16px;
    & li {
      font-weight: 250;
      font-size: 14px;
    }
  }
}



@media (max-width: 1024px) {

}
@media (max-width: 992px) {

}
@media (max-width: 768px) {
  .students{
    & h1 {

    }
    & p {
      font-size: 16px;
    }
  }
}
@media (max-width: 576px) {
  .students{
    &__img {
      margin-top: 10px;
      width: 95%;
      height: 280px;
      overflow: hidden;
      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .students{
    & h1 {
font-size: 18px;
    }
    & p {
      font-size: 14px;
    }
  }
}

@media (max-width: 414px) {
  .students{
    &__img {
      margin-top: 10px;
      width: 95%;
      height: 200px;
      overflow: hidden;
      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .students{
    & h1 {

    }
    & p {
      font-size: 12px;
    }
    &_ul{
      padding-top: 35px;
      font-size: 14px;
      & li {
        font-weight: 250;
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 375px) {
  .students{
    &__img {
      margin-top: 10px;
      width: 95%;
      height: 200px;
      overflow: hidden;
      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

}
@media (max-width: 320px) {
  .students{
    &__img {
      margin-top: 10px;
      width: 95%;
      height: 200px;
      position: relative;
      overflow: hidden;
      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &_ul{
      padding-top: 5px;
      font-size: 13px;
      & li {
        font-weight: 250;
        font-size: 13px;
      }
    }
  }
}


